@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
/**
* ! Changing default styles of the brower
**/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/**
* ! Navbar Style
**/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #023e7d;
  color: #fffcf2;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart {
  position: relative;
  background-color: #fffcf2;
  color: #023e7d;
  padding: 5px;
  font-size: 30px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
  background-color: #f6aa1c;
  color: #0a0908;
}

/**
* ! Shop items styles are here
**/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

.item {
  border: 2px solid #03071e;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}
